<h1> List of current Users </h1>

<%= render 'shared/buttons', post: @post%>

<% @users.each do |user| %>
  <%= link_to user_path(user.id) do %>
   <img src="<%= user.photo %>" alt="user image"/>
  <h2><%= user.name %></h2>
  <h4>Number of Posts: <%=user.post_counter%></h4>
  <hr>
  <% end %> 
<% end %> 