<h1>All posts by <%= @user.name %></h1>

<%= render 'shared/userhead', user: @user%>

  
<% @posts.each do |post| %>
   <%= render 'shared/post', post: post%>
 
      <div>
        <% @comments = post.recent_comments%>
        <% @comments.each do |comment|%>
          <% comenter = User.find_by(id: comment.author_id) %>
          <%=comenter.name%> : <%=comment.text%>
        <% end %> 
 <%= link_to user_post_path(post.author_id, post.id) do %>
  <button type='button'>See full Post</button>
      </div>
    <% end %> 
<%end%>