<div class="toptext">
<h1> Your selected Post </h1>

<%= render 'shared/buttons', post: @post%>
</div>

<div class="post postshow">
<h3>Post #<%=@post.id%> by <%=@user.name%></h3>
<p class="candl">comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%></p>
<h2><%=@post.text%></h2>
</div>

  <div class="commentlist">
    <% @comments = @post.comments%>
    <% @comments.each do |comment|%>
    <% comenter = User.find_by(id: comment.author_id) %>
    <p><%=comenter.name%>: <%=comment.text%></p>
    
    <%end%>
  </div>

<div class="lc_buttons">
<button type="button" class="buttonlink">
    <%=link_to "Add new comment", new_user_post_comment_path(@post.author.id, @post.id) %>
</button>


    <%=form_with url: user_post_likes_path(@post.author, @post) do |form|%>
      <%= form.submit "Like this Post ðŸ‘", class: "buttonlink" %>
    <%end%>
  </div>