<h1> Your selected Post </h1>

<h3>Post #<%=@post.id%> by <%=@user.name%></h3>
<p>comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%></p>
<h2><%=@post.text%></h2>


     <div>
        <% @comments = @post.comments%>
      <% @comments.each do |comment|%>
      <% comenter = User.find_by(id: comment.author_id) %>
      <%=comenter.name%> : <%=comment.text%>
      <%end%>
      </div>
