<!DOCTYPE html>
<html>
  <head>
    <title>Blog made with Ruby on Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

<% if user_signed_in? %>
  <% if current_user.role == 'admin' %>
    <p class="logeduser"> 
    Welcome, <%= current_user.name %>! (Logged as:  <b> Admin</b>)
    </p>
  <% else %>
    <p class="logeduser"> Welcome, <%= current_user.name %>! 
    </p>
  <% end %>
  <% else %>
   <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
  <%end %>
  </p>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
